// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-back{
  background-color: red;
  margin-left: 10px;
}

.user-edit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}


.in-lineblock{
  display: block;
  float: left;
}

.background-show {
  background-image: image-url('photo-1605819353779-20dd63e7a096.jpg');
}

.index-background {
  background-image: image-url('photo-1605819353779-20dd63e7a096.jpg');
}

.center-th{
  color: black;
}



.center-index{
  color: black;
}



table {
  border: none;
  border-collapse: separate;
  border-radius: 50px;
  border-spacing: 0;
}

table th, table td {
  // border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  border: none;
}
table th {
  // border-right: 1px solid #ccc;
  background: #EEE;


}
table tr:first-child th {
  border-radius: 50px 50px 50px 50px;
}
table tr:last-child th {
  border-radius: 50px 50px 50px 50px;
}
table tr:last-child td {
  border-radius: 50px 50px 50px 50px;
}






