<div class="about">
  <h1>-about-</h1>

  <h2>このウェブサービスは次のような人のためにあります</h2>
  <h3>目的1 自分が求めている人間関係作りが成功しやすくしたい</h3>
  <h3>目的2 難しいことも伝えあえるような人間関係を作りたい</h3>
  <h3>目的3 人間関係を作るための相手の情報を正確に取得したい</h3>

<br>

  <p>自分が望んでいる人間関係を構築することってなかなか難しいことではありませんか？</p>
  <p>いろんな現象が混じりあった出来事を正確に簡単に伝えられなくてもどかしくないですか？</p>
  <p>信用することって難しいですよね？</p>


<br>
  <h2>そんなあなたの問題を全て解決します</h2>
  <div>

  </div>
</div>

