<h1 align="center", class="top4">我々が心の底から望む人間関係を探しに行こう</h1>

<div class="top-background" height="1500px" width="1500px">

  <div>
    <h1 align="center", class="top2">friend partner</h1>
  </div>

  <div class="top-container">
    <div align="center", class="top5">

        <li><%= link_to "新規登録", new_user_registration_path, class:"btn btn-success center" %></li>
        <li><%= link_to "ログイン", new_user_session_path, class:"btn btn-info center" %></li>
        <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-warning center" %></li>

    </div>

    <div class="top3">
      <h1 align="center">True deep humanity</h1>
      <br>
      <h1 align="center">And</h1>
      <br>
      <h1 align="center">Real friend</h1>
    </div>
  </div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>